body {
  background-image: linear-gradient(to right, #ffffff, #fffffe, #ffffee, #fffeee, #ffeeee, #feeeee);

}


table {
  border: dotted 2px;
  width: 50%;
}

th {
  background-color: #dfd9ff;
}

td {
  text-align: left;
  padding: 8px;
  border: solid 1px;
}

tr:nth-child(even) {
  background-color: #d9fffd;
}

tr:nth-child(odd) {
  background-color: #ffeed9;
}

