body {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);

}

table {
  border: dotted 2px;
  width: 50%;
  padding: 15px;
}

tr, th, td {
  border: solid 1px;
}

span {
  border: solid 1px #000013;
  color: #fff;
  background-image: linear-gradient(to right, #8400ff, #00d9ff);
  border-radius: 20px;
  background-size: 100% auto;
  font-size: 17px;
  padding: 15px;
  margin: 2px;
}

