body {
  background-image: linear-gradient(to right, #f7f6f6 , #d6c0b3);
}


table {
  border: dotted 2px;
}

th {
  background-color: #dfd9ff;
  font-family: 25px fantasy, sans-serif;
}

td {
  padding: 5px;
  border: solid 1px;
  width: 50%
}

td:nth-child(even) {
  text-align: left
}


td:nth-child(odd) {
  text-align: right
}

tr:nth-child(even) {
  background-color: #d9fffd;
}

tr:nth-child(odd) {
  background-color: #ffeed9;
}

